.resume{
  margin-top: 50px;
  &-container{
    margin: 7rem 10rem;
    animation: fade 1s;
    .title{
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      font-weight: 500;
      img{
        margin-top: 5rem;
        width: 350px;
      }
    }
  }
  &-parts{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5rem 0;
    &:nth-child(1) , &:nth-child(2){
      border-bottom: 1px solid gray;
    }
    .title{
      font-size: 32px;
      width: 50%;
      font-weight: 400;
    }
  }
  &-list{
    display: flex;
    flex-direction: column;
    .experience{
      display: flex;
      .date{
        width: 20%;
      }
      .description{
        width: 70%;
        strong{
          font-size: 26px;
          font-weight: 400;
        }
        a{
          color: Blue;
        }
        .text p{
          line-height: 1.5rem;
          margin-top: 5px;
          font-weight: 300;
          span{
            font-weight: 400;
          }
        }
      }
    }
    .date{
      display: flex;
      flex-direction: column;
      margin: 5px 10px 0 0;
      font-weight: 300;
    }
    .text{
      strong{
        font-size: 1.5rem;
      }
    }
  }
  .skills{
    &-list{
      width: 50%;
      display: flex;
      flex-direction: column;
      .item{
        margin-top: 35px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: 100%;
        span{
          width: 10%;
        };
      }
    }
  }
  .project{
    &-list{
      margin-top: 50px;
    }
    &-title{
      strong{
      position: relative;
        padding-left: 20px;
        &::before{
          display: inline-block;
          position: absolute;
          left: 0;
          top: 3px;
          content: '';
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: #000;
        }
      }
    }
    &-description{
      p{
        font-weight: 300;
        line-height: 1.3rem;
        padding-left: 20px;
        a{
          color:blue;
        }
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .resume{
    &-container{
      margin: 5rem;
    }
    & .resume-parts{
      flex-direction: column;
      align-items: center;
      .title{
        display: flex;
        align-items: center;
      }
      img{
        width: 300px;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
    .skills-list{
      width: 100%;
      .item{
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
@media (max-width: 768px) {
  .resume{
    &-container{
      margin: 5rem 1rem;
    }
  }
}